<nav class="navbar navbar-expand-lg bg-body-tertiary position-fixed fixed-top p-2">
  <div class="container-fluid px-5">
    <a class="navbar-brand" href="{% url "store:allBooks" %}">Book Shop</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a
            class="nav-link active dropdown-toggle"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Categories
          </a>
          <ul class="dropdown-menu">
            {% for category in categories %}
            <li>
              <a class="dropdown-item" href="{{category.getCategory_url}}">
                {{ category.name | title }}
              </a>
            </li>
            {% endfor %}
          </ul>
        </li>
      </ul>
      <div>
        <a type="button" role="button" 
          class="btn btn-outline-secondary position-relative"
          href="{% url  "cart:order_items" %}"
        >
        <svg xmlns="http://www.w3.org/2000/svg" 
         width="20" height="20" fill="#ffffff" 
        class="bi bi-cart-plus-fill" viewBox="0 0 16 16">
        <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0m7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0M9 5.5V7h1.5a.5.5 0 0 1 0 1H9v1.5a.5.5 0 0 1-1 0V8H6.5a.5.5 0 0 1 0-1H8V5.5a.5.5 0 0 1 1 0"/>
      </svg>
      
      {% with qty=cart|length %}

      <span 
      class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" 
      id="cartQty"
      >
      {% if qty > 0 %} {{ qty }}
      {% else %}0{% endif %}
      </span>

      {% endwith %}

      </a>
      </div>

      {% comment %} <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-light" type="submit">Search</button>
      </form> {% endcomment %}
    </div>
  </div>
</nav>
