
<div class="row py-lg-5">
  <div class="col-lg-6 col-md-8 mx-auto">
    <h1 class="fw-light">Shop Now</h1>
    <p class="lead text-body-secondary">
      Nunc eget augue eu diam finibus dapibus quis sit amet leo. Ut gravida
      facilisis velit mollis fringilla. Quisque efficitur elit nisi, quis cursus
      justo tempor vitae. Quisque feugiat nulla eget leo vehicula, eget feugiat
      justo viverra.
    </p>
    <p>
      <a href="#" class="btn btn-primary my-2">Main call to action</a>
      <a href="#" class="btn btn-secondary my-2">Secondary action</a>
    </p>
  </div>
</div>


