{% extends "base.html" %} {% block title %} {{book.title}} {% endblock title %}
{% block content %}
{% csrf_token %}
<div class="container-fluid">
  <main class="pt-5 mt-4">
    <div class="row g-3">
        {% comment %} right side {% endcomment %}
      <div class="col-md-5 col-lg-5 order-md-first bg-light">
        <img
          class="img-fluid mx-auto d-block"
          alt="{{book.title}}"
          src="{{book.getImage_url}}"
        />
      </div>
      {% comment %} left side {% endcomment %}
      <div class="col-md-7 col-lg-7 ps-md-3 ps-lg-5">
        <h1 class="mb-0 h4">{{book.title}}</h1>
        <p><span class="lead text-info-emphasis">{{book.auther}}</span>{{' '}}(Author)</p>
        <p>{{book.description|slice:":355"}}...</p>
        <div class="border">
          <div class="col border-bottom">
            <div class="row p-3">
              <div class="col-6">Hard Copy</div>
              <div class="col-6 text-end">
                <span class="h4 fw-bold">${{book.price}}</span>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="row p-3">
              <div class="col-6">
                <label for="select">Qty</label>
                <select id="select">
                  <option value="">1</option>
                  <option value="">2</option>
                  <option value="">3</option>
                  <option value="">4</option>
                </select>
              </div>
              <div class="col-6 text-end">
                <button type="button" 
                  class="btn btn-secondary btn-sm"
                  id="addCart"
                  value="{{book.id}}"
                >
                  Add to cart
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>

<script>
  $(document).on('click', '#addCart', function(e){
    e.preventDefault();

     $.ajaxSetup({
      type: 'POST',
      url: '{% url "cart:order_submit" %}',
      date: {
        csrfmiddlewaretoken: '{{ csrf_token }}',
        bookId: $('#addCart').val(),
        action: 'post',
      },
      success: function(jsonData){},
      error: function(){},
    }) 
  })
</script>

{% endblock content %}
