<div data-index="{{product.id}}" class="row mb-4 border product-item">
  <div class="col-md-3 col-lg-2 order-md-first bg-light">
    <img
      class="img-fluid mx-auto d-block"
      width="120px"
      alt="{{ product.title }}"
      src="{{ product.image.url }}"
    />
  </div>
  <div class="col-md-9 col-lg-10 ps-md-3 ps-lg-10">
    <a
      href="{{ product.getOneProduct_url }}"
      class="text-decoration-none text-reset"
    ><h1 class="h5 pt-2">{{ product.title }}</h1>
    </a>
    <div class="border">
      <div class="col border-bottom">
        <div class="row p-3">
          <div class="col-6">Price for A Book</div>
          <div class="col-6 text-end">
            <span class="h6 fw-bold">${{ product.price }}</span>
          </div>
        </div>
      </div>
      <div class="col border-bottom">
        <div class="row p-3">
          <div class="col-12">
            <label for="select">Qty {{product.id}}</label>
            <select id="select{{product.id}}">
              <option selected>{{item.qty}}</option>
              {% comment %}
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              {% endcomment %}
            </select>
            <button
              type="button"
              id="update-button"
              data-index="{{product.id}}"
              value="{{product.id}}"
              class="btn btn-outline-success btn-sm update-button my-1"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-pencil-square"
                viewBox="0 0 16 16"
              >
                <path
                  d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
                />
                <path
                  fill-rule="evenodd"
                  d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"
                />
              </svg>
            </button>

            <button
              type="button"
              id="delete-button"
              data-index="{{product.id}}"
              value="{{product.id}}"
              class="btn btn-outline-danger btn-sm delete-button my-1"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-trash"
                viewBox="0 0 16 16"
              >
                <path
                  d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"
                />
                <path
                  d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"
                />
              </svg>
            </button>
          </div>
        </div>
      </div>

      {% if item.qty > 1 %}
      <div class="col">
        <div class="row p-3">
          <div class="col-6">Total Price For {{item.qty}} Books</div>
          <div class="col-6 text-end">
            <span class="h6 fw-bold">${{ item.total_price }}</span>
          </div>
        </div>
      </div>
      {% endif %}

    </div>
  </div>
</div>

<script>
$(document).ready(function() {
  $(document).on('click', '#delete-button', function(e){
    e.preventDefault();
    console.log($('#delete-button').val())
    //console.log($('#delete-button').data('index'))
    let deleted_index = $('#delete-button').val()

    $.ajax({
      type: 'POST',
      url: '{% url "cart:order_delete" %}',
      data: {
        action: 'post',
        csrfmiddlewaretoken: '{{ csrf_token }}',
        bookId: $('#delete-button').val()
      },
      success: function(jsonData) {
        console.log(deleted_index)
        $('.product-item[data-index="' + deleted_index + '"]').remove();
        document.getElementById("subTotal").innerHTML = jsonData.total_price;
        document.getElementById("cartQty").innerHTML = jsonData.qty
      },
      error: function(xhr, errmsg, err) {},
    });
  })
})
</script>
